<h1>Contactanos</h1>

<p>Si tienes dudas escribenos y con gusto te atenderemos</p>

<div class="contact">
    <form action="">
    
        <div class="principal">
           <div>
             <label for="nombre">Nombre:</label>
             <input type="text" id="nombre">
           </div>
            
            <div>
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono">
            </div>
        </div>
        
        <div class="correo-e">
            <label for="correo">Email:</label>
            <input type="email" id="correo">
        </div>
    
        <br>
        <label for="descripcion">Dejanos su sugerencia aquí: </label>
        <textarea name="" id="descripcion" rows="8"></textarea>
        <br>
        <input type="submit" value="Enviar" id="enviar" (click)="navegarAOtraRuta()">
    
    </form>
</div>
