h1{
    text-align: center;
    font-family: 'DynaPuff';
    font-size: 55px;
    padding: 80px 0 0 0;
    color: #D83A3A;
}

#logo404{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
p{
    font-family: 'Chewy';
    font-size: 30px;
    text-align: center;
    padding: 0 30px;
}

.error-404{
    padding-bottom: 80px;
}

#logoJardin{
    display: flex;
    width: 13%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    h1{
        font-size: 45px;
        padding: 80px 30px 0 30px;
    }
    
    p{
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    #logo404{
        padding-bottom: 60px;
    }

    #logoJardin{
        padding: 40px 0px;
    }

    .error-404{
        padding-bottom: 40px;
        height: 95vh;
    }
}