

<div id="text">
    <h2>Acá encontrarás algunas respuestas a preguntas comunes:</h2>
    <p class="sub">Si tu duda no está en este sitio, deja tu pregunta en la sección "Contactenos"</p>
</div>
<section class="question">

    <div id="acordeon">
        <h3>¿Como es su metodología?</h3>
        <div>
            <p>
            En Burbujas De Algodón, nuestra metodología educativa se basa en enfoques pedagógicos probados que promueven un aprendizaje activo y significativo en los niños. Utilizamos un enfoque holístico que se centra en el desarrollo integral de cada niño, abordando no solo aspectos académicos, sino también emocionales y sociales.

            Nuestra metodología se fundamenta en la pedagogía activa, el juego como herramienta de aprendizaje, y el respeto por el ritmo individual de cada niño. Fomentamos la curiosidad, la creatividad y la resolución de problemas, brindando un ambiente estimulante y seguro en el que los niños puedan explorar y descubrir el mundo que les rodea.
            </p>
        </div>

        <h3>¿Cuánto cuestan las matriculas?</h3>
        <div>
            <p>
                En nuestro jardín, creemos en hacer que la educación de calidad sea accesible para todas las familias. Nuestras tarifas de matrícula se han diseñado de manera equitativa, garantizando que los padres y cuidadores puedan brindar a sus hijos la mejor educación sin sacrificar sus recursos.

                Entendemos la importancia de la educación en la primera infancia y nos esforzamos por ofrecer un ambiente de aprendizaje enriquecedor a un precio razonable. Para conocer más detalles sobre nuestras tarifas de matrícula y cualquier opción de apoyo financiero, no dudes en contactarnos. Estamos aquí para responder a todas tus preguntas y ayudarte a tomar la mejor decisión para el futuro de tus pequeños.
            </p>
        </div>

        <h3>¿A que edad admiten los niños al jardín?</h3>
        <div>
            <p>
                Aceptamos niños desde 1 año y nuestro objetivo es brindarles un entorno seguro y estimulante para crecer, aprender y explorar. No importa el nivel de habilidad o experiencia previa, aquí, cada niño es único y valorado.

                Si estás interesado en inscribir a tu hijo en nuestro jardín de niños, no dudes en ponerte en contacto con nosotros. Estamos aquí para responder a tus preguntas, programar visitas al jardín y guiar a las familias en cada paso del proceso de admisión.
            </p>
        </div>

        <h3>¿Cuántos niveles maneja el jardín?</h3>
        <div>
            <p>
                Nuestro jardín de niños comprende tres niveles fundamentales:<br><br>

                Nivel de Maternales: Aquí damos la bienvenida a los más pequeños, desde 1 año, y les proporcionamos un ambiente cariñoso y seguro donde pueden explorar, socializar y desarrollar habilidades fundamentales. <br><br>

                Nivel de Parvulos: Dirigido a niños de 3 años, este nivel se centra en la preparación para la escuela primaria, fomentando habilidades académicas, sociales y emocionales esenciales.<br><br>

                Nivel de Preescolar: Para niños de 4 años, nuestra preparatoria se enfoca en consolidar habilidades académicas y preparar a los niños para la transición a la educación primaria.<br><br>
            </p>
        </div>
        
        <h3>¿Que modalidades de estudio manejan?</h3>
        <div>
            <p>
                Nuestras modalidades incluyen:<br><br>

                Tiempo completo: Ofrecemos un programa educativo completo durante el día, que incluye actividades académicas y de enriquecimiento, así como cuidado después del horario escolar.<br><br>
                
                Medio tiempo: Perfecto para familias que desean una introducción suave a la educación formal, nuestro programa de medio tiempo ofrece una experiencia educativa en horario reducido.<br><br>
                
                Opciones de días específicos: Para adaptarnos a horarios irregulares, también ofrecemos la opción de elegir los días de la semana en los que tu hijo asistirá al jardín de niños.<br><br>
                
                Programas de verano: Durante las vacaciones de verano, ofrecemos programas de enriquecimiento y diversión para mantener a los niños comprometidos y aprendiendo. <br><br>
            
                Virtual: Ofrecemos una modalidad de estudio virtual que brinda a las familias la oportunidad de acceder a la educación de alta calidad desde la comodidad de sus hogares.
                Nuestra modalidad de estudio virtual está diseñada especialmente para los más pequeños, con un enfoque interactivo y adaptado a su edad.
            </p>
        </div>
    </div>
</section>
