<div class="title">
    <h1>{{title}}</h1>
    <h3>{{subtitle}}</h3>
</div>

<section class="about">
    <h1>Quienes somos</h1>
    <article id="section-1">
        <img src="../../../assets/css/img/salon.jpg" alt="foto-intro">
        <p>
            En Jardín Infantil Burbujas De Algodón, creemos en el poder de la educación temprana para dar forma a un futuro brillante. Somos un espacio dedicado a nutrir la curiosidad, creatividad y el amor por el aprendizaje en los corazones jóvenes.
            Nuestro equipo de educadores apasionados trabaja incansablemente para crear un ambiente seguro y acogedor donde los niños puedan explorar, descubrir y crecer. Fomentamos el juego, la colaboración y el desarrollo individual, cultivando habilidades y valores fundamentales que serán la base de su éxito en la vida.
        </p>
    </article>

    <article id="section-2">
        <img src="../../../assets/css/img/foto5.jpg" alt="">
        <p>En Jardín Infantil Burbujas De Algodón, cada niño es especial, y nuestro compromiso es proporcionarles las herramientas y el apoyo necesarios para florecer. Estamos orgullosos de ser un lugar donde se construyen recuerdos felices y se sienten emociones que perduran toda la vida.</p>
    </article>

    <h3>¡Bienvenidos a nuestro jardín de niños, donde el viaje hacia el conocimiento y el crecimiento comienza con una sonrisa!</h3>
</section>