<h1>{{subtitle}}</h1>

<section id="service-section">
    <article class="services">
        <div class="description-service">
            <h2>Refuerzos y talleres</h2>
            <p> En nuestro jardín, nos enorgullece ofrecer programas de refuerzo y talleres que enriquecen la experiencia educativa de nuestros pequeños exploradores. Nuestros refuerzos ayudan a consolidar el aprendizaje, mientras que nuestros talleres despiertan la creatividad y la pasión por descubrir.
                <br>Desde clases de arte y música hasta actividades prácticas de ciencia y matemáticas, nuestros programas están diseñados para inspirar la curiosidad y promover un amor duradero por el aprendizaje. Los niños tienen la oportunidad de explorar sus intereses y desarrollar habilidades fundamentales en un entorno estimulante y seguro.
            </p>
        </div>
        <img src="../../../assets/css/img/foto1.jfif" alt="taller">
    </article>
    
    <article class="services">
        <img src="../../../assets/css/img/niños-comiendo.jpg" alt="Alimentación">
        <div class="description-service">
            <h2>Alimentación</h2>
            <p>En nuestro jardín, nos preocupamos profundamente por la salud y el bienestar de nuestros pequeños aprendices. Creemos que una alimentación equilibrada es esencial para un crecimiento saludable y un rendimiento óptimo.
               <br>Nuestro compromiso es proporcionar comidas nutritivas y deliciosas que estimulen el desarrollo físico y mental de los niños. Trabajamos en estrecha colaboración con nutricionistas y cocineros expertos para garantizar que cada comida sea un equilibrio perfecto de sabor y nutrientes.
            </p>
        </div>
    </article>
    
    <article class="services">
        <div class="description-service">
            <h2>Transporte</h2>
            <p>En Burbujas de Algodón, nos preocupamos por la seguridad y comodidad de tus pequeños exploradores. Ofrecemos un servicio de transporte confiable y seguro para garantizar que los niños lleguen a nuestra puerta de manera conveniente y puntual.
               <br>Nuestros conductores están capacitados y comprometidos con el bienestar de los niños, y los vehículos están equipados con las medidas de seguridad necesarias. Queremos que tanto los padres como los niños se sientan tranquilos y confiados en su viaje hacia un día de aprendizaje y diversión.
            </p>
        </div>
        <img src="../../../assets/css/img/transporte.jpg" alt="Transporte">
    </article>
    
    <article class="services">
        <img src="../../../assets/css/img/foto7.jfif" alt="">
        <div class="description-service">
            <h2>Beneficios - Convenios</h2>
            <p>En el jardín infantil "Burbujas De Algodón," estamos comprometidos en brindar a las familias más que solo educación de calidad. Valoramos tu confianza y, como muestra de agradecimiento, hemos establecido beneficios y convenios exclusivos para hacer tu experiencia aún más enriquecedora.
               <br>Nuestros convenios con instituciones locales ofrecen descuentos especiales en una variedad de servicios, desde salud hasta entretenimiento. Además, brindamos acceso a talleres y eventos exclusivos que enriquecen la experiencia de tus hijos y fomentan la comunidad entre las familias.</p>
        </div>
    </article>
    
    <article class="services">
        <div class="description-service">
            <h2>Enfermería</h2>
            <p>En el jardín infantil "Burbujas De Algodón," la salud y el bienestar de nuestros pequeños es una prioridad fundamental. Estamos orgullosos de ofrecer un servicio de enfermería dedicado que brinda atención y cuidado especializado a nuestros niños.
               <br>Nuestra enfermera altamente calificada y experimentada está siempre disponible para atender las necesidades de salud de los niños, ya sea para cuidados básicos, administración de medicamentos o asesoramiento en temas de salud. Tu tranquilidad es nuestra prioridad, y nos aseguramos de que los niños estén en las mejores manos en todo momento.</p>
        </div>
        <img src="../../../assets/css/img/enfermera.jpg" alt="Enfermera">
    </article>
</section>

<h1>Cualquier duda nos puedes escribir en la sección "Contactenos"</h1>